NODE_ENV=development
MONGODB_URL='mongodb://127.0.0.1:27017/' #compass
# MONGODB_URL=mongodb://localhost:27017/
PORT=8000
WEB_FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

GEMINI_API_KEY=

STRIPE_RESTRICTED_KEY=rk_your_key
STRIPE_PUBLISHABLE_KEY=pk_your_key
STRIPE_SECRET_KEY=sk_your_key
STRIPE_WEBHOOK_SECRET=whsec_your_key

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=adminadmin


